TYPESENSE_API_KEY="xyz"
TYPESENSE_HOST="typesense"
TYPESENSE_PORT="8108"
TYPESENSE_PROTOCOL="http"

COLLECTION_NAME="consultant_descriptions"

SEARCH_ENDPOINT="http://semantic_search:8000/search"
LLM_ENDPOINT="http://semantic_search:8000/chat"

OLLAMA_CONN_ENDPOINT="http://localhost:11434"

POSTGRES_USER="postgres"
POSTGRES_PASSWORD="postgres"
POSTGRES_DB="semantic_search"
DATABASE_URL="postgresql://postgres:postgres@db:5432/semantic_search"